.forgotPasswordChild {
  position: absolute;
  top: 0;
  left: 280px;
  background-color: var(--color-cadetblue-100);
  width: 1160px;
  height: 78px;
  overflow: hidden;
}
.imageRemovebgPreview1Icon {
  position: absolute;
  top: 190px;
  left: 484px;
  width: 201px;
  height: 202px;
  object-fit: cover;
}
.iprk,
.iskandarPuteriRendah {
  position: absolute;
  left: 0;
  display: inline-block;
}
.iprk {
  top: 0;
  text-decoration: underline;
  width: 244.1px;
  height: 45px;
}
.iskandarPuteriRendah {
  top: 100px;
  font-size: var(--font-size-11xl);
  width: 256px;
  height: 18px;
}
.iprkParent {
  position: absolute;
  top: 190px;
  left: 685px;
  width: 256px;
  height: 118px;
  font-size: var(--font-size-81xl);
}
.forgotPasswordItem {
  position: absolute;
  top: 469px;
  left: 498px;
  border-radius: var(--br-2xl);
  background-color: var(--color-mintcream);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 438px;
  height: 217px;
}
.typeInLost {
  position: absolute;
  top: 485px;
  left: 522px;
  color: var(--color-cadetblue-100);
  display: inline-block;
  width: 357px;
}
.emailAddress,
.forgotPassword1 {
  position: absolute;
  top: 416px;
  left: 511px;
  display: inline-block;
  width: 310px;
}
.emailAddress {
  top: 530px;
  left: 519px;
  font-size: var(--font-size-xl);
  color: var(--color-cadetblue-100);
  width: 178px;
}
.goToLogin,
.goToRegister {
  position: absolute;
  top: 716px;
  left: 818px;
  font-size: var(--medium-size);
  display: inline-block;
  width: 207px;
  cursor: pointer;
}
.goToRegister {
  left: 498px;
}
.forgotPasswordInner,
.rectangleDiv {
  position: absolute;
  border-radius: var(--br-2xl);
}
.forgotPasswordInner {
  top: 616px;
  left: 506px;
  background-color: var(--color-cadetblue-100);
  width: 422px;
  height: 56px;
  cursor: pointer;
}
.rectangleDiv {
  top: 556px;
  left: 520px;
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  border: 1px solid var(--color-cadetblue-100);
  box-sizing: border-box;
  width: 393px;
  height: 44px;
}
.requestCode {
  position: absolute;
  top: 624px;
  left: 626px;
  font-size: var(--font-size-8xl);
  text-align: center;
  display: inline-block;
  width: 181px;
  height: 42px;
}
.forgotPassword {
  position: relative;
  background-color: var(--color-cadetblue-100);
  width: 100%;
  height: 1024px;
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--white);
  font-family: var(--font-orelega-one);
}
