.resetPasswordChild {
  position: absolute;
  top: 0;
  left: 280px;
  background-color: var(--color-cadetblue-100);
  width: 1160px;
  height: 78px;
  overflow: hidden;
}
.imageRemovebgPreview1Icon {
  position: absolute;
  top: 190px;
  left: 484px;
  width: 201px;
  height: 202px;
  object-fit: cover;
}
.iprk,
.iskandarPuteriRendah {
  position: absolute;
  left: 0;
  display: inline-block;
}
.iprk {
  top: 0;
  text-decoration: underline;
  width: 244.1px;
  height: 45px;
}
.iskandarPuteriRendah {
  top: 100px;
  font-size: var(--font-size-11xl);
  width: 256px;
  height: 18px;
}
.iprkParent {
  position: absolute;
  top: 190px;
  left: 685px;
  width: 256px;
  height: 118px;
  font-size: var(--font-size-81xl);
}
.resetPasswordItem {
  position: absolute;
  top: 469px;
  left: 498px;
  border-radius: var(--br-2xl);
  background-color: var(--color-mintcream);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 451px;
  height: 444px;
}
.changePasssword,
.resetYourPassword {
  position: absolute;
  font-size: var(--font-size-19xl);
  display: inline-block;
}
.resetYourPassword {
  top: 485px;
  left: 522px;
  color: var(--color-cadetblue-100);
  width: 381px;
}
.changePasssword {
  top: 416px;
  left: 511px;
  width: 334px;
}
.confirmPassword,
.newPassword,
.resetCode {
  position: absolute;
  top: 530px;
  left: 519px;
  color: var(--color-cadetblue-100);
  display: inline-block;
  width: 178px;
}
.confirmPassword,
.newPassword {
  top: 622px;
  left: 522px;
}
.confirmPassword {
  top: 708px;
  left: 520px;
}
.goToLogin,
.goToRegister {
  position: absolute;
  top: 923px;
  left: 823px;
  font-size: var(--medium-size);
  display: inline-block;
  width: 207px;
  cursor: pointer;
}
.goToRegister {
  top: 930px;
  left: 511px;
}
.resetPasswordInner {
  position: absolute;
  top: 832px;
  left: 512px;
  border-radius: var(--br-2xl);
  background-color: var(--color-cadetblue-100);
  width: 422px;
  height: 56px;
  cursor: pointer;
}
.rectangleDiv,
.resetPasswordChild1,
.resetPasswordChild2 {
  position: absolute;
  top: 556px;
  left: 520px;
  border-radius: var(--br-2xl);
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  border: 1px solid var(--color-cadetblue-100);
  box-sizing: border-box;
  width: 393px;
  height: 44px;
}
.resetPasswordChild1,
.resetPasswordChild2 {
  top: 644px;
  left: 519px;
}
.resetPasswordChild2 {
  top: 734px;
}
.resetPassword1 {
  position: absolute;
  top: 839px;
  left: 614px;
  font-size: var(--font-size-8xl);
  text-align: center;
  display: inline-block;
  width: 210px;
  height: 42px;
}
.resetPassword {
  position: relative;
  background-color: var(--color-cadetblue-100);
  width: 100%;
  height: 1024px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--white);
  font-family: var(--font-orelega-one);
}
