.profile,
.userAlt4Icon {
  position: relative;
  flex-shrink: 0;
}
.userAlt4Icon {
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.profile {
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  width: 174px;
}
.userAlt4Parent {
  position: absolute;
  width: 100%;
  top: calc(50% - 20px);
  right: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-steelblue-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-xs) var(--padding-5xs)
    var(--padding-mini);
  box-sizing: border-box;
}
.menuItem {
  position: absolute;
  width: 15.97%;
  top: calc(50% - 396px);
  right: 82.29%;
  left: 1.74%;
  height: 40px;
  color: var(--dark-text-color-1);
}
.signOut {
  position: absolute;
  top: 957px;
  left: 76px;
  line-height: 24px;
  font-weight: 500;
  color: var(--color-lightslategray);
  display: inline-block;
  width: 92px;
  height: 30px;
}
.signOutSqureIcon {
  position: absolute;
  top: 957px;
  left: 47px;
  width: 24px;
  height: 24px;
}
.carbonAnalysis {
  top: 225px;
  color: var(--color-lightslategray);
  cursor: pointer;
}
.adaptation,
.carbonAnalysis,
.joinUs {
  position: absolute;
  left: 51px;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  width: 135px;
  height: 27px;
}
.adaptation {
  top: 258px;
  color: var(--color-lightslategray);
  cursor: pointer;
}
.joinUs {
  top: 292px;
}
.menuItem1 {
  position: absolute;
  width: 15.97%;
  top: calc(50% - 179px);
  right: 82.29%;
  left: 1.74%;
  height: 40px;
  color: var(--dark-text-color-1);
}
.dashboard {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.gridAltParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.chevronUp2Icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameParent {
  position: absolute;
  width: 100%;
  top: calc(50% - 20px);
  right: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-darkseagreen);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-xs) var(--padding-5xs)
    var(--padding-mini);
  box-sizing: border-box;
}
.menuItem2 {
  position: absolute;
  width: 15.97%;
  top: calc(50% - 338px);
  right: 82.29%;
  left: 1.74%;
  height: 40px;
  color: var(--dark-text-color-1);
  font-family: var(--font-satoshi);
}
.countMeIn,
.joinUs1 {
  left: 323px;
  font-size: var(--font-size-19xl);
  font-family: var(--font-orelega-one);
  width: 444px;
}
.joinUs1 {
  position: absolute;
  top: 140px;
  display: inline-block;
}
.countMeIn {
  top: 622px;
}
.back,
.countMeIn,
.step1Verify {
  position: absolute;
  display: inline-block;
}
.step1Verify {
  top: 663px;
  left: 323px;
  font-size: var(--font-size-19xl);
  font-family: var(--font-orelega-one);
  width: 444px;
}
.back {
  top: 0;
  left: 24px;
  line-height: 24px;
  font-weight: 500;
  width: 65px;
  height: 30px;
}
.backParent,
.expandLeftIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}
.backParent {
  top: 110px;
  left: 299px;
  width: 89px;
  height: 30px;
  font-size: var(--font-size-xl);
}
.viewDashboardJoinUsChild {
  position: absolute;
  top: 197px;
  left: 528px;
  border-radius: var(--br-2xl);
  width: 664px;
  height: 409px;
  object-fit: cover;
}
.viewDashboardJoinUsInner,
.viewDashboardJoinUsItem {
  position: absolute;
  top: 725px;
  left: 292px;
  border-radius: var(--br-2xl);
  background-color: var(--color-mintcream);
  width: 1106px;
  height: 203px;
}
.viewDashboardJoinUsInner {
  top: 957px;
  left: 1218px;
  background-color: var(--color-dimgray);
  width: 180px;
  height: 43px;
  cursor: pointer;
}
.saveProceed {
  position: absolute;
  top: 968px;
  left: 1230px;
  font-size: var(--font-size-xl);
  font-family: var(--font-orelega-one);
  display: inline-block;
  width: 136px;
  height: 22px;
}
.expandRightDoubleIcon {
  position: absolute;
  top: 967px;
  left: 1366px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.ellipseIcon {
  position: absolute;
  height: 16.5%;
  width: 12.43%;
  top: 72.46%;
  right: 66.6%;
  bottom: 11.04%;
  left: 20.97%;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.here {
  color: var(--color-lightslategray);
}
.termsConditionsContainer {
  position: absolute;
  top: 938px;
  left: 323px;
  font-size: var(--font-size-mid);
  font-family: var(--font-orelega-one);
  display: inline-block;
  width: 444px;
}
.name {
  margin: 0;
}
.nameIcNoContainer {
  position: absolute;
  top: 748px;
  left: 518px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-orelega-one);
  color: var(--color-steelblue-100);
  display: inline-block;
  width: 612px;
  height: 158px;
}
.viewDashboardJoinUs {
  position: relative;
  background-color: var(--color-lightgray);
  width: 100%;
  height: 1024px;
  text-align: left;
  font-size: var(--medium-size);
  color: var(--white);
  font-family: var(--medium);
}
